<div class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div id="aside" class="col-md-offset-4 col-md-4">
            <div class="widget">
                <div class="widget-search">
                    <input class="search-input" type="text" placeholder="search">
                    <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="no-resource-found" *ngIf="events.length === 0">
            <p>
            <i class="fa  fa-frown-o"></i>
            Nothing Found.
            </p>
        </div>
        <!-- Event list -->
        <ng-container *ngIf = "events.length > 0">
            <div class="col-md-4 col-sm-6" *ngFor = "let event of events">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.description }}</p>
                </div>
            </div>
        </ng-container>
        <!-- /Event list -->
    </div>
</div>