<div class="container">
    <div class="row">
        <br>
    </div>

</div>
<div class="container" id="event-list-container">
    <div class="row">
        <div class="no-resource-found" *ngIf="events.length === 0">
            <p>
            <i class="fa  fa-frown-o"></i>
            No event is created, yet.
            </p>
          <button *ngIf="authService.isSolveitManager()"  class="outline-btn">create Here</button>
        </div>
        <!-- Event list -->
        <ng-container *ngIf = "events.length > 0">

          <div class="col-lg-4 col-md-4 col-sm-6" *ngFor = "let event of events | paginate: { itemsPerPage: 10, currentPage: p }">
              <div class="service" id="event">
                <i class="fa fa-calendar"></i>
                <h3>{{ event.title }}</h3>
                <p><b>In</b> {{ event.city }}</p>
                <p><b>Venue</b> {{ event.place + ' , ' + event.venue}}</p>
                <p><i id="event-time-icon" class="fa fa-calendar-check-o"></i> From {{ event.startDate | amDateFormat: 'MMM Do YYYY' }}</p>
                <p><i id="event-time-icon" class="fa fa-calendar-times-o"></i> To {{ event.endDate | amDateFormat: 'MMM Do YYYY' }}</p>
                <button *ngIf="!isPassed(event)" class="outline-btn" (click)="viewEventDetail(event)" data-toggle="modal" data-target="#myModal">Detail</button>
                <button id="passed-status" *ngIf="isPassed(event)" class="main-btn">Passed</button>
              </div>
          </div>
        </ng-container>
        <!-- /Event list -->
        <div *ngIf="events.length > 8" class="row" style="clear: both">
          <div class="events-pagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
    </div>
</div>

<app-event-view [event]="selectedEvent"></app-event-view>
