#myModal {
  /*display: flex;*/
  /*align-items: center;*/
  /*align-content: center;*/
}

#myModal .modal-dialog {
  width: 70%;
  height: 50%;
  overflow-y: initial !important;
}

#myModal .modal-body {
  height: 35em;
  overflow-y: auto;
}

.iframe {
  height: 80%;
  margin-bottom: 1em;
}
