<app-header></app-header>


<!-- Search bar and filters -->
<div class="container" *ngIf="resources.length>0">
  <div id="searchbar" class="row">
    <div class="col-md-offset-2 col-md-4">
      <input type="text" class="input" placeholder="Search" [(ngModel)]="keyword"  (keyup)="onSearch($event)">
    </div>
    <div class="col-md-1">
      <select name="category" class="in" id="category" [(ngModel)]="filterCategory" (change)="filterResource($event)">
        <option value="" selected>All</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="web">Web</option>
      </select>
    </div>
    <div class="col-md-offset-1 col-md-2" *ngIf="authService.isSolveitTeam()">
      <button id="upload-btn" class="outline-btn" (click)="uploadResource()"> <i class="fa fa-upload"></i> Upload</button>
    </div>
  </div>
</div>
<!-- About -->

<div id="about" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div>
        <p id="resource-list-title" class="title">Documents</p>
      </div>
      <!-- /Section header -->

      <div class="no-resource-found" *ngIf="doc_resources.length === 0">
        <p>
          <i class="fa  fa-frown-o"></i>
          Nothing Found.
        </p>
      </div>
      <!-- Documents list -->
      <div class="col-md-4" *ngFor="let resource of doc_resources | paginate: { itemsPerPage: 6, currentPage: docResourcePage }">
        <div class="about">
          <i class="fa fa-file-pdf-o"></i>
          <h3>{{resource.title}}</h3>
          <p>{{resource.description}}</p>
          <button class="outline-btn" (click)="downloadResource(resource.content)">Download</button>
        </div>

      </div>
      <!-- /Documents list -->
      <div class="row pagination-container">
        <div class="pagination">
          <pagination-controls (pageChange)="docResourcePage = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->

<!-- About -->
<div id="videos" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div>
        <p id="resource-list-title" class="title">Videos</p>
      </div>
      <!-- /Section header -->

      <div class="no-resource-found" *ngIf="vid_resources.length === 0">
        <p>
          <i class="fa  fa-frown-o"></i>
          Nothing Found.
        </p>
      </div>


      <!-- Documents list -->
      <div class="col-md-4" *ngFor="let resource of vid_resources | paginate: { itemsPerPage: 6, currentPage: vidResourcePage }">
        <div class="about">
          <i class="fa fa-file-video-o"></i>
          <h3>{{resource.title}}</h3>
          <p>{{resource.description}}</p>
          <!--<a routerLink=""></a>-->
          <button (click)="onChoosingVideoResource(resource)" type="button" class="outline-btn" data-toggle="modal" data-target="#myModal">
            View
          </button>
        </div>
        <div class="pagination">
          <pagination-controls (pageChange)="docResourcePage = $event"></pagination-controls>
        </div>
      </div>
      <!-- /Documents list -->
    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->

<app-modal [resource]="choosenResource"></app-modal>

