<form [formGroup]="weeklyWinnerForm" *ngIf="authService.isAuthenticated()">
  <h4 class="title" id="form-title">Add Weekly Winner</h4>
  <div id="resource-form">
    <div class="input-field" style="margin-top: 1em">
      <select
        name="role"
        id="role"
        [(ngModel)]="weeklyWinner.competitionId"
        formControlName="competition"
      >
        <option selected value="" [selected]="true">Select Competition</option>
        <option
          *ngFor="let competition of competitions"
          value="{{competition.id}}"
          >{{ competition.name }}</option
        >
      </select>
      <div
        class="error-message"
        *ngIf="
          weeklyWinnerForm.controls.competition.invalid &&
          weeklyWinnerForm.controls.competition.touched
        "
      >
        <p>* Competition is required.</p>
      </div>
    </div>
    <div class="input-field" style="margin-top: 1em">
      <select
        name="role"
        id="role"
        [(ngModel)]="weeklyWinner.rank"
        formControlName="rank"
      >
        <option selected value="" [selected]="true">Select Rank</option>
        <option value="Gold">Gold</option>
        <option value="Silver">Silver</option>
        <option value="Bronze">Bronze</option>
      </select>
      <div
        class="error-message"
        *ngIf="
          weeklyWinnerForm.controls.rank.invalid &&
          weeklyWinnerForm.controls.rank.touched
        "
      >
        <p>* Rank is required.</p>
      </div>
    </div>
    <div id="input-field">
      <input
        type="text"
        class="input"
        name="title"
        placeholder="Week Name"
        formControlName="week"
        [(ngModel)]="weeklyWinner.week"
      />
      <div
        class="error-message"
        *ngIf="
          weeklyWinnerForm.controls.week.invalid &&
          weeklyWinnerForm.controls.week.touched
        "
      >
        <p>* Week is required.</p>
      </div>
    </div>
    <div class="input-field" style="margin-top: 1em">
      <select
        name="role"
        id="role"
        [(ngModel)]="weeklyWinner.projectId"
        formControlName="project"
      >
        <option selected value="" [selected]="true">Select Project</option>
        <option *ngFor="let project of projects" value="{{project.id}}">{{
          project.title
        }}</option>
      </select>
      <div
        class="error-message"
        *ngIf="
          weeklyWinnerForm.controls.project.invalid &&
          weeklyWinnerForm.controls.project.touched
        "
      >
        <p>* Project is required.</p>
      </div>
    </div>
    <div class="form-group" id="resource-upload-btn">
      <input
        type="button"
        (click)="addWeeklyWinner()"
        class="main-btn"
        value="Create"
      />
    </div>
  </div>
</form>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
