<!-- blog comments -->
<div class="blog-comments">
    <h6 class="title">{{ comments.length }} Comments</h6>

    <!-- comment -->
    <div class="media" *ngFor="let comment of comments | paginate: { itemsPerPage: 20, currentPage: page }">
        <div class="media-left">
            <img class="media-object" id="commenter-avatar" src="../../../assets/img/User_Circle.png" alt="">
        </div>
        <div class="media-body">
            <h6 class="media-heading">{{ comment.user.username }}<span class="time">{{ comment.createdAt | amTimeAgo }}</span></h6>
            <p>{{ comment.content }}</p>
        </div>
    </div>
    <!-- /comment -->

    <pagination-controls *ngIf="comments.length > 20" (pageChange)="page = $event"></pagination-controls>
</div>
<!-- /blog comments -->
