<!-- blog comments -->
<div class="blog-comments">
    <h3 class="title">{{ comments.length }} Comments</h3>

    <!-- comment -->
    <div class="media" *ngFor = "let comment of comments">
        <div class="media-left">
            <img class="media-object" src="../../../assets/img/perso2.jpg" alt="">
        </div>
        <div class="media-body">
            <h4 class="media-heading">Joe Doe<span class="time">2 min ago</span><a href="#" class="reply">Reply <i class="fa fa-reply"></i></a></h4>
            <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
        </div>
    </div>
    <!-- /comment -->
</div>
<!-- /blog comments -->