<div class="competetion-list-header">
  <div class="row">
    <div id="aside" class="col-md-offset-2 col-md-6">
      <div class="widget">
        <div class="widget-search">
          <input class="search-input" type="text" placeholder="search" [(ngModel)]="key" (keyup)="onSearch($event)" />
          <button class="search-btn" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="outline-btn create" data-toggle="modal" data-target="#addAttendance">
        Create
      </button>
    </div>
  </div>
</div>
<div class="competetion-list-content">
  <div class="row">
    <div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th> Event Name</th>
            <th> City </th>
            <th> Venue </th>
            <th> Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attendance of attendanceList; let i = index;">
            <td>{{ i + 1 }}</td>

            <td>{{ attendance.title }}</td>
            <td><p *ngFor="let city of attendance.cities">{{city.name}},</p></td>
            <td>{{attendance.venue}}</td>
            <td>{{ attendance.attendance_date |date }}</td>
            <td>
              <button type="button" data-toggle="modal" data-target="#editMember" class="btn btn-warn"
                (click)="viewDetails(attendance)">
                <i class="fa fa-eye"></i> View
              </button>
              <button type="button" (click)="deleteAttendance(attendance)" class="btn btn-danger">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="not-found" *ngIf="attendanceList == undefined || attendanceList.length == 0">
        <div class="no-resource-found">
          <app-not-found
        message="> No attendance created, yet."
        type="fetch"
      ></app-not-found>
        </div>
      </div>
      <!-- <div class="not-found" *ngIf="teamMembers.length == 0 && key !== ''">
        <div class="no-resource-found">
          <p><i class="fa  fa-frown-o"></i> Team Member "{{ key }}" not found.</p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="pagination">
      <pagination-controls *ngIf="backupAttendanceList.length > 6" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<div id="addAttendance" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add City</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="attendanceForm" *ngIf="authService.isAuthenticated()">
          <div id="resource-form">
            <div class="form-group">

              <label>Select City:</label>
              <ng-multiselect-dropdown [placeholder]="'Cities'" [data]="mapCitiesToDropDownList(cities)"
                formControlName="cities" (onDeSelectAll)="onDeselectAll($event)" (onSelectAll)="onSelectAll($event)"
                (onSelect)="onItemSelected($event)" (onDeSelect)="onItemDeselected($event)"
                [settings]="dropdownSettings">
              </ng-multiselect-dropdown>
              <div class="error-message" *ngIf="attendanceForm.controls.cities.invalid &&
              attendanceForm.controls.cities.touched">
                <p>* This field is required.</p>
              </div>
            </div>

          


            <div class="form-group">
              <label>Attendance Date:</label>
              <input type="date" class="form-control" name="date" placeholder="Attendance Date"
                formControlName="attendance_date" [(ngModel)] ="attendance.attendance_date" />
            </div>
            <div class="form-group">
              <label>Title:</label>
              <input type="text" class="form-control" name="title" placeholder="What is the event"
                formControlName="title" [(ngModel)] ="attendance.title" />
                <div class="error-message" *ngIf="attendanceForm.controls.title.invalid &&
              attendanceForm.controls.title.touched">
                <p>* This field is required.</p>
              </div>
            </div>

            <div class="form-group">
              <label>Venue:</label>
              <input type="text" class="form-control" name="venue" placeholder="Where is the Venue"
                formControlName="venue" [(ngModel)] ="attendance.venue" />
                <div class="error-message" *ngIf="attendanceForm.controls.venue.invalid &&
              attendanceForm.controls.venue.touched">
                <p>* This field is required.</p>
              </div>
            </div>
            <div class="form-group">
              <label>place:</label>
              <input type="text" class="form-control" name="place" placeholder="Where is the place"
                formControlName="place" [(ngModel)] ="attendance.place" />
                <div class="error-message" *ngIf="attendanceForm.controls.place.invalid &&
              attendanceForm.controls.place.touched">
                <p>* This field is required.</p>
              </div>
            </div>
            <div class="form-group">
              <label>Description:</label>
              <input type="text" class="form-control" name="description" placeholder="What is the description"
                formControlName="description" [(ngModel)] ="attendance.description" />
            </div>
            <div class="form-group" id="resource-upload-btn">
              <input type="button" [disabled]="!attendanceForm.valid" (click)="createAttendance(attendanceForm.value)"
                data-dismiss="modal" class="main-btn" value="Create" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>