<div class="competetion-list-header">
  <div class="row">
    <div id="aside" class="col-md-offset-2 col-md-6">
      <div class="widget">
        <div class="widget-search">
          <input class="search-input" type="text" placeholder="search" [(ngModel)]="key" (keyup)="onSearch($event)" />
          <button class="search-btn" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button data-toggle="modal" data-target="#addActivity" class="outline-btn create">
        Create
      </button>
    </div>
  </div>
</div>
<div class="competetion-list-content">
  <div class="row">
    <div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Level</th>
            <th>Passing Grade</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let activity of (activities
                | paginate: { itemsPerPage: 15, currentPage: page });
              let i = index
            ">
            <td>{{ i + 1 }}</td>
            <td>{{ activity.activity_name }}</td>
            <td>{{ activity.level }}</td>
            <td>{{ activity.passing_grade }}</td>
            <td>
              <button type="button" data-toggle="modal" data-target="#editActivity" (click)="selectActivity(activity)"
                class="btn btn-info">
                Edit
              </button>
              <button type="button" (click)="deleteActivity(activity)" class="btn btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="not-found" *ngIf="backUpactivities.length == 0">
        <div class="no-resource-found">
          <app-not-found message="Activities are not created, yet." type="fetch"></app-not-found>
        </div>
      </div>
      <div class="not-found" *ngIf="activities.length == 0 && key !== ''">
        <div class="no-resource-found">
          <app-not-found message=" Activity '{{ key }}' not found." type="fetch"></app-not-found>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pagination">
      <pagination-controls *ngIf="backUpactivities.length > 15" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>


<!-- Add Activity Modal -->
<div id="addActivity" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Add Activity</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="activityForm" *ngIf="authService.isAuthenticated()">
          <div >
            <div class="form-group">
              <input type="text" class="input" name="title" placeholder="Activity Name"
                formControlName="activity_name" />
            </div>
            <div class="form-group">
              <input type="text" class="input" name="title" type="number" placeholder="Passing Grade"
                formControlName="passing_grade" />
            </div>
            <div class="form-group">
              <!-- <input type="text" class="input" name="title" type="number" placeholder="Level" formControlName="level" /> -->
              <select class="form-control" name="role" id="role" formControlName="level">
                <option selected value="">Select Level</option>
                <option *ngFor="let level of levels" value="{{level}}">{{
                  level
                }}</option>
              </select>
            </div>
            <div class="form-group">
              <textarea type="text" class="input" name="title" placeholder="Description"
                formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <input
                style="width: 95%; border: 0.025rem solid grey;"
                [owlDateTime]="dt2"
                [owlDateTimeTrigger]="dt2"
                [min]="minDate"
                placeholder="Deadline (M / D / YYYY)"
                id="expDate"
                name="expDate"
                formControlName="expDate"
              />
              <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
              <owl-date-time
                [pickerType]="'calendar'"
                #dt2
                min="new Date()"
              ></owl-date-time>
              <!-- <div
                class="error-message"
                *ngIf="
                  activityForm.controls.expDate.invalid &&
                  activityForm.controls.expDate.touched
                "
              >
                <p>* Expiration date is required.</p>
              </div> -->
            </div>
            <div class="form-group">
              <input type="button" [disabled]="!activityForm.valid" (click)="oncreateActivity()" data-dismiss="modal"
                class="main-btn" value="Create" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Activity Modal -->
<div id="editActivity" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">Edit Activity</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="editActivityForm" *ngIf="authService.isAuthenticated()">
          <div id="resource-form">
            <div class="form-group">
              <input type="text" class="input" name="title" placeholder="Activity Name"
                formControlName="activity_name" />
            </div>
            <div class="form-group">
              <input type="text" class="input" name="title" type="number" placeholder="Passing Grade"
                formControlName="passing_grade" />
            </div>
            <div class="form-group">
              <select class="form-control" name="role" id="role" formControlName="level">
                <option selected value="">Select Level</option>
                <option *ngFor="let level of levels" value="{{level}}">{{
                  level
                }}</option>
              </select> </div>
            <div class="form-group">
              <textarea type="text" class="input" name="title" placeholder="Description"
                formControlName="description"></textarea>
            </div>
            <div class="form-group" id="resource-upload-btn">
              <input type="button" [disabled]="!editActivityForm.valid" (click)="updateActivity(editActivityForm.value)"
                data-dismiss="modal" class="main-btn" value="Create" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
