<app-header></app-header>
<form [formGroup]="judgeForm">
  <h4 class="title" id="form-title">Judge Registration</h4>
  <div id="resource-form">
    <div class="input-field" style="margin-top: 1em">
      <label>Full Name:</label>
      <input type="text" class="form-control" name="title" placeholder="Full Name" formControlName="fullName" />
      <div class="error-message" *ngIf="
          judgeForm.controls.fullName.invalid &&
          judgeForm.controls.fullName.touched
        ">
        <p>* Full Name is required.</p>
      </div>
    </div>
    <div class="input-field" style="margin-top: 1em">
      <label>Email:</label>
      <input type="text" class="form-control" name="email" placeholder="Email" formControlName="email" />
      <div class="error-message" *ngIf="
          judgeForm.controls.email.invalid &&
          judgeForm.controls.email.touched
        ">
        <p>* Email is required.</p>
      </div>
    </div>
    <div class="input-field" style="margin-top: 1em">
      <label>Phone Number:</label>
      <input type="text" class="form-control" name="title" placeholder="Phone Number" formControlName="phoneNumber" />
      <div class="error-message" *ngIf="
          judgeForm.controls.phoneNumber.invalid &&
          judgeForm.controls.phoneNumber.touched
        ">
        <p>* Phone Number is required.</p>
      </div>
    </div>

    <!-- <div class="input-field" style="margin-top: 1em">
      <label>Field of Expertise:</label>
      <ng-select formControlName="fieldOfExpertise" placeholder="Select your field of expertise"
      [searchable]="false" [clearable]="false"  [items]="fieldOfExpertiseOptions" bindLabel="label" bindValue="label" >
    </ng-select>
      <div class="error-message" *ngIf="
          judgeForm.controls.fieldOfExpertise.invalid &&
          judgeForm.controls.fieldOfExpertise.touched
        ">
        <p>* Educational Background is required.</p>
      </div>
    </div>

    <div class="input-field" style="margin-top: 1em">
      <label>Educational Background:</label>
      <ng-select formControlName="educationalBackground" placeholder="Select Educational Background"
      [searchable]="false" [clearable]="false" [items]="educationalBackgroundOptions" bindLabel="label" bindValue="label" [(ngModel)]="judge.educationalBackground">
    </ng-select>
      <div class="error-message" *ngIf="
          judgeForm.controls.educationalBackground.invalid &&
          judgeForm.controls.educationalBackground.touched
        ">
        <p>* Educational Background is required.</p>
      </div>
    </div> -->
    <div class="input-field" style="margin-top: 1em">
      <label>Professional Bio:</label>
      <textarea type="text" class="form-control" name="title"
        placeholder="Professional Bio please include your Educational and Professional Background"
        formControlName="shortDescription">

        </textarea>
      <div class="error-message" *ngIf="
            judgeForm.controls.shortDescription.invalid &&
            judgeForm.controls.shortDescription.touched
          ">
        <p>* Short Description is required.</p>
      </div>
    </div>
    <!-- <div class="input-field" style="margin-top: 1em">
      <label>Professional Background:</label>
      <ng-select formControlName="professionalBackground" placeholder="Select Professional Background"
        [searchable]="false" [clearable]="false" [items]="professionalBackgroundOptions" bindLabel="label"
        bindValue="label" [(ngModel)]="judge.professionalBackground">
      </ng-select>
      <div class="error-message" *ngIf="
          judgeForm.controls.professionalBackground.invalid &&
          judgeForm.controls.professionalBackground.touched
        ">
        <p>* Professional Background is required.</p>
      </div>
    </div> -->
    <label>Select Cities you are interested in judging in:</label>
    <ng-multiselect-dropdown [placeholder]="'Cities'" [data]="mapCitiesToDropDownList(cities)" formControlName="cities"
      (onDeSelectAll)="onDeselectAll($event)" (onSelectAll)="onSelectAll($event)" (onSelect)="onItemSelected($event)"
      (onDeSelect)="onItemDeselected($event)" [settings]="dropdownSettings">
    </ng-multiselect-dropdown>
    <div class="error-message" *ngIf="judgeForm.controls.cities.invalid &&
      judgeForm.controls.cities.touched">
      <p>* This field is required.</p>
    </div>


    <div class="input-field" style="margin-top: 1em">
      <label>Previous Judging Experiance (if any):</label>
      <input type="text" class="form-control" name="judgeExperience" placeholder="Judging Experience"
        formControlName="judgeExperience" />
    </div>
    <div class="input-field" style="margin-top: 1em">
      <label>What is your attitude towards technology ?:</label>
      <input type="text" class="form-control" name="techOpinion" placeholder="Opinion on Technology"
        formControlName="techOpinion" />
    </div>




    <div class="input-field" style="margin-top: 1em">
      <label>What have you heard about Solve IT:</label>
      <input type="text" class="form-control" name="title" placeholder="What do you know about Solve It ?"
        formControlName="solveItKnowledge" />
      <div class="error-message" *ngIf="
          judgeForm.controls.solveItKnowledge.invalid &&
          judgeForm.controls.solveItKnowledge.touched
        ">
        <p>* this field is required.</p>
      </div>
    </div>

    <div class="input-field" style="margin-top: 1em">
      <label>Are You Interested in Investing:</label>
      <ng-select formControlName="interestInInvesting" placeholder="Select Interest in Investment" [searchable]="false"
        [clearable]="false" [items]="investmentOptions" bindLabel="label" bindValue="label"
        [(ngModel)]="judge.interestInInvesting">
      </ng-select>
      <div class="error-message" *ngIf="
          judgeForm.controls.interestInInvesting.invalid &&
          judgeForm.controls.interestInInvesting.touched
        ">
        <p>* this info is required.</p>
      </div>
    </div>


    <div *ngIf="judge.interestInInvesting == 'Yes'">
      <div class="input-field" style="margin-top: 1em">
        <label>What Sector are you interested in investing:</label>
        <ng-select formControlName="sector" placeholder="Select Sector" [searchable]="false"
        [clearable]="false" [items]="sectors" bindLabel="label" bindValue="label"
        [(ngModel)]="judge.sector">
      </ng-select>

        <input type="text" class="form-control" *ngIf="judge.sector == 'Other'" style="margin-top : 20px" name="title" placeholder="What sector do you want to invest in?"
          formControlName="sector" />
      
      </div>
      <div class="input-field" style="margin-top: 1em">
        <label>Investment Capital:</label>
        <input type="text" class="form-control" name="title" placeholder="What is your investment Capital ?"
          formControlName="investmentCapital" />
     
      </div>
    </div>


    <!-- <div class="input-field" style="margin-top: 1em">
      <label>Professional Bio:</label>
      <textarea type="text" class="form-control" name="title" placeholder="Short Description"
        formControlName="shortDescription">

        </textarea>
      <div class="error-message" *ngIf="
            judgeForm.controls.shortDescription.invalid &&
            judgeForm.controls.shortDescription.touched
          ">
        <p>* Professional Bio is required.</p>
      </div>
    </div> -->


    <div class="clear"></div>
    <div class="form-group" id="resource-upload-btn">
      <input type="button" [disabled]="!judgeForm.valid" (click)="registerJudge(judgeForm.value)" class="main-btn"
        value="Create" />
    </div>
  </div>
</form>
<ng2-toasty [position]="'top-right'"></ng2-toasty>