<app-header></app-header>

<div *ngIf="isBasicFormActive" id="registration-form">
  <div class="section-header text-center">
    <img src="../../../assets/img/solveit-logo12.png" alt="" />
  </div>
  <!-- Section-header -->
  <div class="section-header text-center">
    <h2 class="title">Register For The Competition</h2>
  </div>
  <!-- /Section-header -->

  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col-md-6">
        <div class="input-field">
          <input
            class="form-control"
            type="text"
            name="firstName"
            formControlName="firstName"
            placeholder="First Name"
            [(ngModel)]="user.firstName"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.firstName.invalid &&
              registerForm.controls.firstName.touched
            "
          >
            <p>* First Name is required.</p>
          </div>
        </div>
        <div class="input-field">
          <input
            class="form-control"
            type="text"
            name="middleName"
            formControlName="middleName"
            placeholder="Father's Name"
            [(ngModel)]="user.middleName"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.middleName.invalid &&
              registerForm.controls.middleName.touched
            "
          >
            <p>* Father's Name is required.</p>
          </div>
        </div>
        <div class="input-field">
          <input
            class="form-control"
            type="text"
            name="lastname"
            formControlName="lastName"
            placeholder="Grand Father's Name"
            [(ngModel)]="user.lastName"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.lastName.invalid &&
              registerForm.controls.lastName.touched
            "
          >
            <p>* Grand Father's Name is required.</p>
          </div>
        </div>
        <div class="input-field">
          <input
            class="form-control"
            type="email"
            name="email"
            formControlName="email"
            placeholder="Email"
            [(ngModel)]="user.email"
            email
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.email.touched &&
              registerForm.controls.email.errors?.required
            "
          >
            <p>* Email is required.</p>
          </div>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.email.touched &&
              registerForm.controls.email.errors?.isEmailUnique
            "
          >
            <p>* Email address must be unique.</p>
          </div>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.email.touched &&
              registerForm.controls.email.errors?.pattern
            "
          >
            <p>* invalid email address.</p>
          </div>
        </div>
        <div class="input-field">
          <input
            class="form-control"
            type="text"
            name="username"
            formControlName="username"
            placeholder="User Name"
            [(ngModel)]="user.username"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.username.invalid &&
              registerForm.controls.username.touched
            "
          >
            <p>* User name is required.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon"><b>+251</b></span>
          <input
            type="tel"
            class="form-control"
            placeholder="Phone Number"
            name="phoneNumber"
            formControlName="phoneNumber"
            placeholder="Phone Number"
            [(ngModel)]="user.phoneNumber"
          />
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.controls.phoneNumber.errors?.required &&
            registerForm.controls.phoneNumber.touched
          "
        >
          <p>* Phone Number is required.</p>
        </div>
        <div
          class="error-message"
          *ngIf="
            registerForm.controls.phoneNumber.touched &&
            registerForm.controls.phoneNumber.errors?.incorrect
          "
        >
          <p>* Incorrect phone number.</p>
          <p>* e.g 9xxxxxxxx</p>
        </div>
        <div class="input-field">
          <input
            [owlDateTime]="dt2"
            [owlDateTimeTrigger]="dt2"
            placeholder="Birth Date (M / D / YYYY)"
            id="age"
            name="age"
            id="age"
            [(ngModel)]="user.birthDate"
            formControlName="age"
          />
          <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.age.invalid &&
              registerForm.controls.age.touched
            "
          >
            <p>* Birth date is required.</p>
          </div>
        </div>
        <div class="input-field">
          <select
            name="sex"
            id="sex"
            class="form-control"
            [(ngModel)]="user.gender"
            formControlName="sex"
          >
            <option value="" selected>Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.sex.invalid &&
              registerForm.controls.sex.touched
            "
          >
            <p>* Gender is required.</p>
          </div>
        </div>
        <div class="input-field">
          <select
            name="educationLevel"
            id="educationLevel"
            class="form-control"
            [(ngModel)]="user.educationLevel"
            formControlName="educationLevel"
          >
            <option value="" selected>Education Level</option>
            <option *ngFor="let level of educationLevels" value="{{level}}">{{
              level.toUpperCase()
            }}</option>
          </select>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.educationLevel.invalid &&
              registerForm.controls.educationLevel.touched
            "
          >
            <p>* Education Level is required.</p>
          </div>
        </div>
        <div class="input-field" *ngIf="user.educationLevel === 'Other'">
          <input
            type="text"
            name="otherEducationLevel"
            id="otherEducationLevel"
            class="form-control"
            placeholder="Other Education Level"
            [(ngModel)]="extraParams.otherEducationLevel"
            formControlName="otherEducationLevel"
          />
          <div
            class="error-message"
            *ngIf="
              user.educationLevel === 'Other' &&
              extraParams.otherEducationLevel === '' &&
              registerForm.controls.otherEducationLevel.touched
            "
          >
            <p>* Education Level is required.</p>
          </div>
        </div>
        <div class="input-field">
          <select
            name="status"
            id="status"
            class="form-control"
            [(ngModel)]="user.workStatus"
            formControlName="status"
          >
            <option value="" selected>Work Status</option>
            <option *ngFor="let stat of status" value="{{stat}}">{{
              stat.toUpperCase()
            }}</option>
          </select>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.status.invalid &&
              registerForm.controls.status.touched
            "
          >
            <p>* Work status is required.</p>
          </div>
        </div>
        <div class="input-field" *ngIf="user.workStatus === 'Other'">
          <input
            type="text"
            name="otherStatus"
            id="otherStatus"
            class="form-control"
            placeholder="Other Status"
            [(ngModel)]="extraParams.otherStatus"
            formControlName="otherStatus"
          />
          <div
            class="error-message"
            *ngIf="
              user.workStatus === 'Other' &&
              extraParams.otherStatus === '' &&
              registerForm.controls.otherStatus.touched
            "
          >
            <p>* Work status is required.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="input-field">
          <input
            class="form-control"
            type="password"
            name="password"
            formControlName="password"
            placeholder="Password"
            [(ngModel)]="user.password"
            minlength="8"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.password.errors?.required &&
              registerForm.controls.password.touched
            "
          >
            <p>* Password is required.</p>
          </div>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.password.errors?.minlength &&
              registerForm.controls.password.touched
            "
          >
            <p>* Password must be at least 8 characters.</p>
          </div>
        </div>
        <div class="input-field">
          <input
            class="form-control"
            type="password"
            name="rePassword"
            formControlName="rePassword"
            placeholder="Confirm Password"
            [(ngModel)]="extraParams.rePassword"
          />
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.rePassword.touched &&
              registerForm.controls.rePassword.errors?.required
            "
          >
            <p>* Confirm your password.</p>
          </div>
          <div
            class="error-message"
            *ngIf="
              registerForm.controls.rePassword.touched &&
              registerForm.controls.rePassword.errors?.MatchPassword
            "
          >
            <p>* * Password not match.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="input-form" style="text-align: center;">
        <input type="checkbox" name="checkbox" value="check" id="agree" class="tos" [checked]="agreeTos" (change)="onChange()"/> I have read and agree to the <a href="#" data-toggle="modal"
        data-target="#tos">Terms and Conditions and Privacy Policy</a>
        <div
            class="error-message"
            *ngIf="
              agreeTosError
            "
          >
            <p>* * you must agree to the terms of service to proceed.</p>
          </div>
    </div>
   
    <div class="register-btn">
      <button
        (click)="onRegister()"
        type="button"
        id=""
        class="main-btn"
        [class.disabled]="!registerForm.valid"
      >
        Next
      </button>
     
    </div>
  </form>
  <div class="login-link">
    <p>If you already have account <a routerLink="/login">login here.</a></p>
  </div>
</div>

<app-adress
  (next)="onAdressNext($event)"
  (back)="onAdressBack()"
  [isLoading]="isLoading"
  [address]="address"
  *ngIf="isAddressFormActive"
></app-adress>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div id="tos" class="modal fade lg" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Terms of Service</h4>
        </div>
        <div class="modal-body">
          <p>Last updated: December 05, 2019</p>
          
          
          <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the icog-solveit.com website (the "Service") operated by Solve IT ("us", "we", or "our").</p>
          <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
          
          <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. The Terms of Service agreement  for Solve IT has been created with the help of <a href="https://www.termsfeed.com/terms-service-generator/">Terms of Service Generator</a>.</p>
          
          
          <h2>Accounts</h2>
          
          <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.</p>
          
          <p>You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.</p>
          
          <p>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
          
          
          <h2>Links To Other Web Sites</h2>
          
          <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Solve IT.</p>
          
          <p>Solve IT has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Solve IT shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
          
          <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
          
          
          <h2>Termination</h2>
          
          <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
          
          <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
          
          <p>We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
          
          <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>
          
          <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
          
          
          <h2>Governing Law</h2>
          
          <p>These Terms shall be governed and construed in accordance with the laws of Ethiopia, without regard to its conflict of law provisions.</p>
          
          <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
          
          
          <h2>Changes</h2>
          
          <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
          
          <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
          
          
          <h2>Contact Us</h2>
          
          <p>If you have any questions about these Terms, please contact us.</p>
        </div>
      </div>
    </div>
  </div>