<!--<app-header></app-header>-->
<div id="registration-form">
  <form>
    <input class="input" type="text" placeholder="First Name">
    <input class="input" type="text" placeholder="Middle Name">
    <input class="input" type="text" placeholder="Last Name">
    <input class="input" type="email" placeholder="Email">
    <input class="input" type="text" placeholder="Phone Number">
    <button type="submit" class="main-btn">Done</button>
  </form>
  <div class="login-link">
    <p>If you already have account <a routerLink="/login">login here.</a></p>
  </div>
</div>
