<div id="registration-form">
    <h4>Create Competition</h4>
    <form [formGroup]="competitionForm">
        <div class="input-field">
            <input class="input " type="text" name="name" formControlName="name" placeholder="Competition Name" [(ngModel)]="competition.name" [class.err]="competitionForm.controls.name.invalid && competitionForm.controls.name.touched">
            <div class="error-message" *ngIf="competitionForm.controls.name.invalid && competitionForm.controls.name.touched">
                <p>* Competition Name is required.</p>
            </div>
        </div>
        <div class="input-field">
          <label for="start-date">Starting Date</label>
            <input class="input" type="date" name="start_date" id="start-date" formControlName="startingDate" placeholder="Start Date" [(ngModel)]="competition.startingDate"
                   [class.err]="competitionForm.controls.startingDate.invalid && competitionForm.controls.startingDate.touched">
            <div class="error-message" *ngIf="competitionForm.controls.startingDate.invalid && competitionForm.controls.startingDate.touched">
                <p>* Start Date is required.</p>
            </div>
        </div>

        <button [disabled]="!competitionForm.valid" (click)="createCompetition()" type="button" class="main-btn">Submit</button>
        <button (click)="backToList()" type="button" class="outline-btn">Back</button>
    </form>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
