<div class="forum-list">
    <div class="not-found">
        <div class="no-resource-found" *ngIf="forums.length == 0 && keyword == ''">
            <p>
                <i class="fa  fa-frown-o"></i> There are no forums created, yet.
            </p>

            <button class="outline-btn" (click)="onCreateForum()">create Here</button>
        </div>
    </div>
    <div class="not-found">
        <div class="no-resource-found" *ngIf="forums.length == 0 && keyword !== ''">
            <p>
                <i class="fa  fa-frown-o"></i> No search result found for "{{ keyword }}"
            </p>
        </div>
    </div>
    <div *ngIf="(selected == 'forum-list-public') || (selected == 'forum-list-private')">
        <div class="forums-list-content" *ngIf="forums.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Topic</th>
                        <th scope="col">Category</th>
                        <th scope="col">Created</th>
                        <th scope="col">Discussions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let forum of forums | paginate: { itemsPerPage: 10, currentPage: page }; let i = index" (click)="viewForum(forum.slung)">
                        <th scope="row">
                            {{forum.name}}
                        </th>
                        <td>{{forum.category.category }}
                        </td>
                        <td>2 days ago</td>
                        <td><span class="badge badge-secondary">{{discussionCounts[i]}}</span> Discussions</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="forum-pagination">
            <pagination-controls *ngIf="forums.length > 10" (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>