<div *ngIf = "selected == 'forum-list-public' || 'forum-list-private'" class="container">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div id="aside" class="col-md-offset-4 col-md-4">
            <div class="widget">
                <div class="widget-search">
                    <input class="search-input" type="text" placeholder="search" [(ngModel)]="keyword"  (keyup)="onSearch($event)">
                    <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf = "selected == 'popular-forums'">
    <div *ngFor = "let category of categories" class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">{{ category.category }}</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <ng-container *ngFor = "let forum of popularforums">
                        <a *ngIf = "forum.categoryId == category.id" (click) = "viewForum(forum.slung)" class="list-group-item">
                            {{ forum.slung }}
                            <span class="badge badge-primary badge-pill">{{ forum.discussionCount }} Discussions</span>
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<div *ngIf = "(selected == 'forum-list-public') || (selected == 'forum-list-private')">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">{{ forumType }}</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <ng-container *ngFor = "let forum of forums | paginate: { itemsPerPage: 20, currentPage: page }">
                    <a (click) = "viewForum(forum.slung)" class="list-group-item">
                        {{ forum.slung }}
                        <span class="badge badge-primary badge-pill">{{ forum.discussionCount }} Discussions</span>
                    </a>
                </ng-container>
            </div>
            <pagination-controls *ngIf = "popularforums.length > 20" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>