<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Forum Name</th>
            <th scope="col">Discussions</th>
            <th scope="col">Category</th>
            <th scope="col">Date Created</th>
            <th scope="col">Goto Forum</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Python Guru</td>
            <td>350</td>
            <td>Python</td>
            <td>10/7/2017</td>
            <td>
                <button (click) = "viewForum()" class='btn btn-outline-success '>
                    <i class="fa fa-pencil"></i> Enter
                </button>
            </td>
            </tr>
            <tr>
            <td>Javascript Ninja</td>
            <td>234</td>
            <td>Javascript</td>
            <td>1/8/2017</td>
            <td>
                <button class='btn btn-outline-success '>
                    <i class="fa fa-pencil"></i> Enter
                </button>
            </td>
            </tr>
            <tr>
            <td>IT Elite`s</td>
            <td>222</td>
            <td>IT</td>
            <td>17/5/2017</td>
            <td>
                <button class='btn btn-outline-success '>
                    <i class="fa fa-pencil"></i> Enter
                </button>
            </td>
            </tr>
            <tr>
            <td>Hardware Club</td>
            <td>145</td>
            <td>Hardware</td>
            <td>2/12/2017</td>
            <td>
                <button class='btn btn-outline-success '>
                    <i class="fa fa-pencil"></i> Enter
                </button>
            </td>
            </tr>
        </tbody>
    </table>
</div>