<app-header></app-header>

<div class="container">
  <div class="row main-container">
    <div class="col-md-4 menu-container">
      <ul class="project-menu">
        <li [class.selected]="selected === views[0]" (click) = "toggleView('report')"> Progress Reports</li>
        <li [class.selected]="selected === views[1]" (click) = "toggleView('members')"> Members</li>
        <li [class.selected]="selected === views[2]" (click) = "toggleView('add-member')"> Add Member</li>
      </ul>
    </div>
    <div class="col-md-8 project-content">
      <div class="row project-profile" *ngIf="project !== null">
        <h3 id="project-title">Title : {{ project.title }}</h3>
        <h4 id="label">Description</h4>
        <p id="description">{{ project.description }}</p>
        <h4 id="proposal-label">Proposal</h4>
        <p id="proposal-description"> <span id="download" (click)="downloadProposal(project.proposal.name)"> <i style="margin-right: 1em" class="fa fa-file"></i>Download</span></p>
        <h4 id="status-label">Status</h4>
        <p id="status-description" *ngIf="!enrolled" (click)="enrollToCompetition()">Not registered in any competitions yet. <span id="enroll">Enroll</span></p>
        <p id="status-description" *ngIf="enrolled"><span id="enroll">Enrolled</span></p>
      </div>
      <div class="row progress-reports" *ngIf="selected == views[0]">
        <div class="panel panel-default">
          <div id="progress-report-heading">
            <h3 id="progress-report-title">Progress reports</h3>
            <button class="main-btn" (click)="toggleUploadReport(true)" *ngIf="!uploadReport" id="upload-progress-report">Upload</button>
            <button class="main-btn" (click)="toggleUploadReport(false)" *ngIf="uploadReport" id="show-progress-report">Back</button>
          </div>
          <div class="panel-body" id="progress-report-content">
            <div class="reports" *ngIf="!uploadReport">
              <div *ngIf="progressReports.length > 0">
                <div class="col-md-4 col-sm-6" *ngFor="let report of progressReports">
                  <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>{{report.title}}</h3>
                  </div>
                </div>
              </div>
              <div *ngIf="progressReports.length == 0">
                <div class="not-found">
                  <div class="no-resource-found">
                    <p>
                      <i class="fa  fa-frown-o"></i> You haven't uploaded any report, yet.
                    </p>
                    <button class="outline-btn" (click)="toggleUploadReport(true)">create Here</button>
                  </div>
              </div>
            </div>
          </div>
            <app-create-progress-report (created)="reportCreated()" [project]="project" *ngIf="uploadReport"></app-create-progress-report>
        </div>
      </div>
      <app-add-project-member *ngIf = "selected == views[2]" [project] = "project"></app-add-project-member>
      <project-member-list *ngIf = "selected == views[1]" [project] = "project"></project-member-list>
    </div>
  </div>
</div>
