<app-header></app-header>
<div id="blog" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Main -->
				<main id="main" class="col-md-9">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive" src="../../../assets/img/blog-post.jpg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>John doe</li>
								<li><i class="fa fa-clock-o"></i>{{ discussion.createdAt }}</li>
								<li><i class="fa fa-comments"></i>{{ numberOfComments }}</li>
							</ul>
							<h3>{{ discussion.slung }}</h3>
							<p>{{ discussion.content }}</p>
						</div>
						<app-comment-list *ngIf = "discussion.id !== 0" [discussionId] = "discussion.id"></app-comment-list>
						<!-- reply form -->
						<div class="reply-form">
							<h3 class="title">Leave a reply</h3>
							<form [formGroup]="commentForm">
								<textarea placeholder="Add Your Commment" formControlName="content" [(ngModel)]="comment.content"></textarea>
								<button [disabled] = "!commentForm.valid" type="submit" class="main-btn" (click) = "addComment()">Submit</button>
							</form>
						</div>
						<!-- /reply form -->
					</div>
				</main>
				<!-- /Main -->
			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>