img {
  width: 100%;
}

.sponsor-img {
  width: 70%;
  margin: auto;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube {
  height:12em;
  width:12em;
  margin-bottom: 1em;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.1);
}

.container {
  margin: 4em auto;
}

.row {
  margin-top: 2em;
}

.sponsor-name {
  text-align: center;
  font-weight: bold;
}

.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #288B7B;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-top:20px;
  margin-right:20px;
  float: right;
  }
  .download-btn{
    border: solid 2px #288B7B;
    padding:10px;
    color:black;
  }
  
  .download-btn:hover{
    transition: 0.3s;
    background-color: #288B7B;
    color:white;
    cursor: pointer;
  }
  
    .clear-fix{
      width:100%;
      clear: both;
    }

    
