<div class="users-list">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div id="aside" class="col-md-5">
            <div class="widget">
                <div class="widget-search">
                    <input class="search-input" type="text" placeholder="search" [(ngModel)]="keyword" (keyup)="searchUser($event)">
                    <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-sm-offset-2 col-md-2">
            <button (click)="createUser()" class="outline-btn create">Create</button>
        </div>

    </div>
    <div class="row filter">
        <div class="col-md-offset-2 col-md-4">
            <select name="view" id="view-filter" [(ngModel)]="selected" (change)="toggleView(selected)">
              <option selected="selected" value="0">SolveIT Management Team</option>
              <option value="1">SolveIT Staffs & Mentors Team</option>
              <option value="2">SolveIT Participants</option>
            </select>
        </div>
        <div class="col-md-offset-2 col-md-3" *ngIf = "selectedRole.name == 'participant'">
            <select name="view" id="view-filter" [(ngModel)]="selectedRegion" (change)="toggleView(selected)">
              <option value="0">All</option>
              <option *ngFor = "let region of regions" value="{{region.id}}">{{ region.name }}</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of selectedUsers | paginate: { itemsPerPage: 15, currentPage: page }">
                <td (click)="viewUserProfile(user)">{{ user.firstName }}</td>
                <td (click)="viewUserProfile(user)">{{ user.middleName }}</td>
                <td (click)="viewUserProfile(user)">{{ user.lastName }}</td>
                <td (click)="viewUserProfile(user)">{{ user.email }}</td>
                <td (click)="viewUserProfile(user)">{{user.phoneNumber}}</td>
                <td>
                    <button *ngIf="user.status == 'INACTIVE'" (click)="activateUser(user)" type="button" class="btn btn-success">Activate</button>
                    <button *ngIf="user.status == 'ACTIVE'" (click)="deactivateUser(user)" type="button" class="btn btn-danger">Deactivate</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls *ngIf="selectedUsers.length > 15" (pageChange)="page = $event"></pagination-controls>
    <div class="not-found" *ngIf="backupUsers.length == 0 && keyword === ''">
        <div class="no-resource-found">
            <p>
                <i class="fa  fa-frown-o"></i> No registered users, yet.
            </p>
        </div>
    </div>
  <div class="not-found" *ngIf="selectedUsers.length == 0 && keyword !== ''">
    <div class="no-resource-found">
      <p>
        <i class="fa  fa-frown-o"></i> User "{{keyword}}" not found.
      </p>
    </div>
  </div>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
