.span {
  margin-left: 2em;
  color: #dc5348;
  cursor: pointer;
  padding: 0.5em;
}

.span:hover {
  background: #e3e3e3;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

a:hover {
  cursor: pointer;
}
