<div class="container" style="margin-bottom:100px;">
  <h4 style="text-align: center;font-size:26px;margin:10px;">Terms and Conditions</h4>
  <p>Please read the following Terms and Conditions of the program carefully before registering or using the
    website and the application. All users of this web-page and/or mobile application consent that accessing and
    taking information from this website will be done according to the Terms and Conditions.</p>
  <p>By using this site, you agree to review this section periodically, as the section may suffer modification.
    The program is conceived in such a manner that all its actions will be governed by the relevant Ethiopian
    laws. The clauses of these Terms and Conditions apply to all applicants and are governed by the following
    terms:</p>
  <p><strong><u></u></strong></p>
  <ol>
    <li><strong><u>1. General Clauses</u></strong></li>
  </ol>
  <p><strong></strong></p>
  <p><strong>1.1 Objectives:</strong></p>
  <p>Solve IT is a national innovation competition aiming to address youth unemployment, creating a sustainable
    tech market and decentralizing technology. Furthermore, Solve IT aims to tap local talents; innovators who
    understand their respective societies problem and create a strong link between such innovators and investors.
    During the first year, in 2018, Solve IT was implemented with the partnership with the US Embassy in 9 cities
    in Ethiopian. In 2019 and 2020 Solve IT has been implemented with the partnership of both the US Embassy and
    JICA Ethiopia, with a growth to 15 cities in Ethiopia.</p>
  <p><strong></strong></p>
  <p><strong>1.1.2 Contracting party</strong></p>
  <p>Solve IT basing itself in Addis Ababa, Bole, Yeshi Building, 10th Floor, Infront of Bole printing.</p>
  <p><strong></strong></p>
  <p><strong>1.1.3 Program parties</strong></p>
  <p>Solve IT, is supported and sponsored by a number of corporate sponsors and investors who will participate to
    add value at various stages in the program. Key partners include the US Embassy and JICA Ethiopia.</p>
  <p>Additionally, we also have sponsorships and partnerships with several other organizations as well such as:
    MoSHE, MiNT, the Federal Small &amp; Medium Manufacturing Industry Development Agency Federal Urban Job
    Creation and Food Security Agency... Solve IT reserves the right to add or remove other program supporters and
    sponsors at its absolute discretion.</p>
  <p><strong></strong></p>
  <p><strong>1.2 Accounts</strong></p>
  <p></p>
  <p>1.2.1 Following the creation of this account you agree to the following terms:</p>
  <ul>
    <li>- I have provided accurate, complete and truthful information</li>
    <li>- I am responsible for the safeguarding of the password I use for this website. Hence, I will not disclose
      the informatio&shy;n to any third-party</li>
    <li>- Any activity/action conducted under this account are attributable to me</li>
    <li>- If a third-party is to know of the password, I use for this website I will notify the team immediately
      after the acquiescence of such knowledge</li>
  </ul>
  <p></p>
  <p>1.2.2 Links to other websites</p>
  <ul>
    <li>- Our Service may contain links to third-party web sites or services that are not owned or controlled by
      Solve IT.</li>
    <li>- Solve IT has no control over, and assumes no responsibility for, the content, privacy policies, or
      practices of any third party web sites or services. You further acknowledge and agree that Solve IT shall
      not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused
      by or in connection with the use of or reliance on any such content, goods or services available on or
      through any such web sites or services.</li>
    <li>- We strongly advise you to read the terms and conditions and privacy policies of any third-party web
      sites or services that you visit.</li>
  </ul>
  <p><strong><u></u></strong></p>
  <ol start="2">
    <li><strong><u> 2. Registration</u></strong></li>
  </ol>
  <p>2.1 Participant shall be an Ethiopian citizen within the age range of 18-28</p>
  <p>2.2 Participants shall register by using the online form and fulfilling the necessary requirements on the
    website</p>
  <p>2.3 Participants shall have a tech product solving a problem in their community when entering the competition
  </p>
  <p>2.4 If you choose to withdraw your application at any point during the program, you and your team members
    will no longer be eligible to participate in any portion of the competition.</p>
  <p>2.5 When entering the Solve IT competition and upon creating this account you assert that you do not have an
    immediate relative or family working at the U.S government agency, JICA, iCog Labs, Humanity + and sponsors of
    the competition.</p>

  <ol>
    <li>a) NOT an employee, intern, director, officer, contractor of our partners.</li>
    <li>b) NOT involved in the administration, advertising, judging, creation, development execution or
      fulfillment of this contest.</li>
  </ol>

  <p><strong><u></u></strong></p>
  <ol start="3">
    <li><strong><u> 3.Privacy of Information</u></strong></li>
  </ol>
  <p>3.1 We will respect your privacy by not collecting personal information about you that is not voluntarily
    provided or required to process your application.</p>
  <p>3.2 By voluntarily entering the competition, you grant Solve IT and partners the right to contact you
    regarding Solve IT, other Solve IT related news and events or in cooperation with our partners.</p>
  <p>3.3 We may collect non-personally identifiable information to help us improve the Solve IT forum and website
  </p>
  <p>3.4 The participant grants Solve IT to use pictures as well as any other information taken during the
    training for marketing and reporting purposes.</p>
  <p></p>
  <ol start="4">
    <li><strong><u> 4. Selection Procedure</u></strong></li>
  </ol>
  <p>4.1 Any technological idea addressing a problem within the community will be considered and included</p>
  <p>4.2 Judges will be given criteria, by the Solve IT team when deciding to accept or reject applications</p>
  <p>4.3 Each criterion will be similar to one another and every application and application will be given equal
    treatment</p>
  <p>4.4 The panel of judges under the Solve IT Competition shall consist of personnel handpicked by
    representatives of the Solve IT Competition (investors and sponsors included).</p>
  <ol start="5">
    <li><strong><u>5. Seed Funding</u></strong>
      <ul>
        <li>5.1 As a possible prospective Solve IT competitor and winner I understand that:</li>
        <li>5.2 Seed funding does NOT mean grant or prize</li>
      </ul>
    </li>
  </ol>
  <p>5.3 The seed money is to be given in three terms based on their achieved milestones and in accordance to the
    requirements listed in a separate agreement.</p>
  <ol start="6">
    <li><strong><u> Termination </u></strong></li>
  </ol>
  <p>6.1 Our services may be terminated if, without limitation, it has been noted that there was a breach in your
    account</p>
  <p>6.2 If your account is terminated or suspended it can be done without prior notice and/or with no liability
    on our behalf</p>
  <p>6.3 All terms included in this contract are to survive the relationship after the termination of the
    relationship</p>
  <p>6.4 Upon the termination of this contract your right to use the service will cease immediately cease. If you
    wish to terminate your account, you may discontinue the use of the services.</p>

</div>