<form [formGroup]="discussionForm">
    <div id="resource-form">
        <div class="form-group">
            <input type="text" class="inpu" name="slung" placeholder="Slung"
                formControlName="slung" [(ngModel)]="discussion.slung">
        </div>
        <div class="form-group">
            <textarea placeholder="Content" class="input "
                formControlName="content" [(ngModel)]="discussion.content">
            </textarea>
        </div>
        
        <div class="form-group" id="resource-upload-btn">
        <input type="button" [disabled]="!discussionForm.valid" (click)="createDiscussion()" class="main-btn" value="Submit">
        </div>
    </div>
</form>
      