<div  id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" *ngIf="event">
      <div class="modal-header" id="event-modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{event.title}}</h4>
        <div><i class="fa fa-calendar" style="margin-right: 1em"><p>{{event.date}}</p></i></div>
        <div><i class="fa fa-clock-o" style="margin-right: 1em;"><p>{{ event.clock }}</p></i></div>
      </div>
      <div class="modal-body">
        <p>{{event.date}}</p>
        <p>{{event.description}}</p>
      </div>
  </div>
</div>
