<form [formGroup]="solveItMemberForm" *ngIf="authService.isAuthenticated()">
  <h4 class="title" id="form-title">Add Competition Winner</h4>
  <div id="resource-form">
    <div class="input-field" style="margin-top: 1em">
      <label>Full Name:</label>
      <input type="text" class="form-control" name="title" placeholder="Full Name" formControlName="fullName" />
      <div class="error-message" *ngIf="
          solveItMemberForm.controls.fullName.invalid &&
          solveItMemberForm.controls.fullName.touched
        ">
        <p>* Full Name is required.</p>
      </div>
    </div>

    <div class="input-field" style="margin-top: 1em">
      <label>Position :</label>
      <input type="text" class="form-control" name="title" placeholder="Position" formControlName="position" />
      
      <div class="error-message" *ngIf="
          solveItMemberForm.controls.position.invalid &&
          solveItMemberForm.controls.position.touched
        ">
        <p>* Position is required.</p>
      </div>
    </div>
    <div class="input-field" style="margin-top: 1em">
      <label>Linkedln Link :</label>
      <input type="text" class="form-control" name="title" placeholder="Linkedln Link" formControlName="linkedln_link" />
    </div>
    <div class="input-field" style="margin-top: 1em">
      <label>Twitter Link :</label>
      <input type="text" class="form-control" name="title" placeholder="Twitter Link" formControlName="twitter_link" />
    </div>
    

   

    <div class="input-field" style="margin-top: 1em">
      <div class="upload-btn-wrapper">
        <button class="btn-custom">Select Picture</button>
        <input id="6666" type="file" (change)="handleFileSelection($event)" ng2FileSelect [uploader]="uploader" />
      </div>
      <div class="preview">
        <img [src]="filePreviewPath" alt="">
      </div>
      <div class="error-message" *ngIf="!isFileSelected && isCreateButtonClicked">
        <p>* Team Member Picture is required.</p>
      </div>

    </div>

    <div class="form-group" id="resource-upload-btn">
      <input type="button" (click)="updateTeamMember(solveItMemberForm.value)" class="main-btn" value="Update" />
    </div>
  </div>
</form>
<ng2-toasty [position]="'top-right'"></ng2-toasty>