<div *ngIf="judge" class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../../../assets/img/profile.svg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5 style="text-align: center">
            {{ judge.fullName.toUpperCase() }}
          </h5>
          <h6 style="text-align: center">Solve IT Judge Applicant</h6>
        

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div role="tabpanel">
            <div class="row">
              <div class="col-md-6"><label>Full Name</label></div>
              <div class="col-md-6">
                <p>{{ judge.fullName }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6"><label>Email</label></div>
              <div class="col-md-6">
                <p>{{ judge.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>Phone Number</label></div>
              <div class="col-md-6">
                <p>{{ judge.phone }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6"><label>Educational Background</label></div>
              <div class="col-md-6">
                <p>{{ judge.educationalBackground }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>Professional Background</label></div>
              <div class="col-md-6">
                <p>{{ judge.professionalBackground }}</p>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6"><label>Cities Interested In: </label></div>
                <div class="col-md-6">
                  <p *ngFor="let city of judge.cities; let i= index">{{ city.item_text}}<span *ngIf="i<judge.cities.length-1"> ,</span></p>
                </div>
              </div>


            <div class="row">
              <div class="col-md-6"><label>Previous Judging Experience</label></div>
              <div class="col-md-6">
                <p>{{ judge.judgeExperience }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>Previous Solve It Experience</label></div>
              <div class="col-md-6">
                <p>{{ judge.solveItKnowledge }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>Interest in Investing</label></div>
              <div class="col-md-6">
                <p>{{ judge.interestInInvesting }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><label>Short Personal Description</label></div>
              <div class="col-md-6">
                <p>{{ judge.shortDescription }}</p>
              </div>
            </div>






          </div>

        </div>
      </div>
    </div>
  </form>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>