<form [formGroup]="forumForm">
    <div id="resource-form">
        <div class="form-group">
            <input type="text" class="inpu" name="name" placeholder="Name"
                formControlName="name" [(ngModel)]="forum.name">
        </div>
        <div class="form-group">
            <input type="text" class="inpu" name="slung" placeholder="slung"
                formControlName="slung" [(ngModel)]="forum.slung">
        </div>
        <div class="form-group">
            <select  style="width: 100%" name="category" id="type" formControlName="category" class="" [(ngModel)]="forum.categoryId">
              <option value="" selected>Select Category</option>
              <option value="{{category.id}}" *ngFor = "let category of categories">{{ category.category }}</option>
            </select>
        </div> 
        <div class="form-group">
            <select  style="width: 100%" name="type" id="type" formControlName="type" class="" [(ngModel)]="forum.private">
              <option value="" selected>Select Forum Type</option>
              <option value=0>Public</option>
              <option value=1>Private</option>
            </select>
        </div>
        <div class="form-group" id="resource-upload-btn">
            <input type="button" [disabled]="!forumForm.valid" (click)="createForum()" class="main-btn" value="Submit">
        </div>
    </div>
</form>
        