.footer-sponsors-logo {
  margin-bottom: 2em;
}

.footer-sponsors-logo img {
  width: 30%;
}

.footer-sponsors-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.sponsor-logo {
  float: left;
}

#sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
