.footer-sponsors-logo {
  margin-bottom: 2em;
}

.footer-sponsors-logo img {
  width: 100%;
}

.footer-sponsors-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.sponsor-logo {
  float: left;
}

#sponsor-container {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
}

ul.dropdown1 {
  background: #2ba692;
  padding: 1.5em;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .footer-sponsors-logo img {
    width: 50%;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .footer-sponsors-logo img {
    width: 50%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer-sponsors-logo img {
    width: 40%;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .footer-sponsors-logo img {
    width: 20%;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: .5em;

  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .footer-sponsors-logo img {
    width: 20%;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;,
  margin-bottom: .5em;
  }
}

.sponsor-container {
  margin-bottom: 2em;
}

