<router-outlet></router-outlet>

<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <div class="col-md-12">

        <!-- footer logo -->
        <div class="footer-logo">
          <a routerLink="['']"><img src="../../assets/img/solveit-logo11.png" alt="logo"></a>
        </div>
        <!-- /footer logo -->

        <!-- footer logo -->
        <!--<div class="footer-sponsors-logo">-->
          <!--<div class="row">-->
            <!--<div class="col-md-4 footer-sponsors-logo-container">-->
              <!--<img src="../../assets/img/U.S.-Embassy-Addis-Ababa.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="col-md-4 footer-sponsors-logo-container">-->
              <!--<img src="../../assets/img/h+.png" alt="">-->
            <!--</div>-->
            <!--<div class="col-md-4 footer-sponsors-logo-container">-->
              <!--<img src="../../assets/img/cropped-logo2.png" alt="">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!-- /footer logo -->

        <!-- footer follow -->
        <ul class="footer-follow">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <!-- /footer follow -->

        <!-- footer copyright -->
        <div class="footer-copyright">
          <p>Copyright © 2018. All Rights Reserved.</p>
        </div>
        <!-- /footer copyright -->

      </div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</footer>
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<!-- /Preloader -->
