.forum-detail {
  margin: 3em auto 10em;
}

.forum-detail-content {
  margin-bottom: 6em;
}

.forum-detail-side-menu {
  margin-top: 4em;
}

.no-discussion {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1.5em;
}

.no-discussion p {
  font-size: 1.5em;
}

.pinned-discussions, .discussions {
  margin-top: 2em;
}

.forum-detail-menu {
  padding: .5em;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}

.forum-detail-menu:hover {
  background: #efefef;
  border: none;
  padding: 1em;
}

.forum-detail-menu-selected {
  color: #2BA692;
}

#detail-menu {
  margin-right: 1.5em;
  padding: 1em;
  -webkit-box-shadow: 4px 8px 26px -6px rgba(0,0,0,0.46);
  -moz-box-shadow: 4px 8px 26px -6px rgba(0,0,0,0.46);
  box-shadow: 4px 8px 26px -6px rgba(0,0,0,0.46);
}

.menu-title {
  float: right;
  margin-left: 0.5em;
}

tr {
  cursor: pointer;
}

.discussionTitle {
  text-align: left;
}

.table>tbody>tr>th, .table>thead>tr>th {
  text-align: left;
}

.radio-inline {
  margin-bottom: .5em;
}
