.forum-list {
  margin-bottom: 8em;
}

#projects-list-content {
  margin: 3em auto 3em;
}

.projects-pagination {
  margin: 4em auto 2em;
}

.no-resource-found {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 10em auto;
  padding: 3em;
}

#projects-list-content > div:nth-child(2) > div:nth-child(1) > div > a {
  cursor: pointer;
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

td > img {
  width: 1.5em;
  border-radius: 1.5em;
}

.forums-list-content {
  padding: 1em;
}

.no-resource-found {
  padding: 2em;
  border: 1px solid #a29a9a;
  width: 60%;
  margin: auto;
}

.no-resource-found p {
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
}


form {
  width: 90%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 2em;
}

#resource-form {
  width: 70%;
  margin: auto;
  padding: 1em;
}

#resource-form input,
#resource-form select,
#resource-form textarea {
  width: 100%;
}

.input-field,
.input-group {
  margin-bottom: 2em;
}

#resource-form select {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #eeeeee;
  padding: 1em;
  height: 3.5em;
}

#progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#resource-upload-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  text-align: center;
  font-size: 0.7em;
  color: #ec4643;
}

.err {
  border-color: #ec4643;
}

#form-title:after {
  width: 2em;
  margin: 1em auto;
}

#form-title {
  text-align: center;
}

.no-resource-found {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
  margin: 10em auto;
  padding: 3em;
}

.selectedTag {
  background: #2ba692;
}

.blog-tags a {
  cursor: pointer;
  border: 1px solid white;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-custom {
  border: 1px solid #2ba692;
  color: #2ba692;
  background-color: white;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.preview > img {
  width: 50%;
}