<app-header></app-header>

<div class="container" id="project-list-header">
  <div class="events-list-header">
    <div class="left">
      <p
        (click)="toggleView('projects')"
        [class.active]="selected == 'projects'"
      >
        Projects
      </p>
      <p
        (click)="toggleView('bookmarks')"
        *ngIf="authService.isAuthenticated()"
        [class.active]="selected == 'bookmarks'"
      >
        Bookmarks
      </p>
      <div class="divider"></div>
    </div>
    <div class="right">
      <div id="aside">
        <div class="widget">
          <div class="widget-search">
            <label for="user-fillter">Filter By Participation</label>
            <select
              name="category"
              class="form-control"
              id="category"
              [(ngModel)]="filterSector"
              (change)="filterProjects($event)"
            >
              <option value="">Filter by Product Type</option>
              <!-- <option
                *ngFor="let category of categories"
                [value]="category.category"
                >{{ category.category }}</option
              > -->
            </select>
          </div>
        </div>
      </div>
      <div id="aside">
        <div class="widget">
          <div class="widget-search">
            <label for="user-fillter">Filter By Product</label>
            <select
              name="category"
              class="form-control"
              id="category"
              [(ngModel)]="filterSector"
              (change)="filterProjects($event)"
            >
              <option value="">Filter by Product Type</option>
              <!-- <option
                *ngFor="let category of categories"
                [value]="category.category"
                >{{ category.category }}</option
              > -->
            </select>
          </div>
        </div>
      </div>
      <div id="aside">
        <div class="widget">
          <div class="widget-search">
            <label for="user-fillter">Filter By sector </label>
            <select
              name="category"
              class="form-control"
              id="category"
              [(ngModel)]="filterSector"
              (change)="filterProjects($event)"
            >
              <option value="" selected>Filter by Sector</option>
              <option value="" selected>All</option>
              <!-- <option
                *ngFor="let category of categories"
                [value]="category.category"
                >{{ category.category }}</option
              > -->
            </select>
          </div>
        </div>
      </div>
      <div id="aside">
        <div class="widget">
          <div class="widget-search">
            <input
              class="search-input form-control"
              type="text"
              placeholder="Search"
              [(ngModel)]="keyword"
            />
            <button class="search-btn" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>