#about {
  margin-top: 10em;
}

.blog-img img {
  width: 100%;
}

.work-link a {
  cursor: pointer;
}

.register-now-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.register-now-container a {
  padding: 1em 2em;
  font-size: 1.2em;
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}

#testimonial {
  background-color: #2ba692;
}

.outline-btn {
  color: #ffffff !important;
}

#about-slide {
  display: flex;
  align-items: center;
  margin-top: 8em;
}

.sponsor-logo {
  float: left;
}

ul.dropdown1 {
  background: #2ba692;
  padding: 1.5em;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}
