
 #about {
  margin-top: 10em;
}

.blog-img img {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work-link a {
  cursor: pointer;
}

#service p{
  font-size:14px;
}

.register-now-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.register-now-container a {
  padding: 1em 2em;
  font-size: 1.2em;
  cursor: pointer;
  color: #ffffff;
  border-color: #ffffff;
}

#testimonial {
  background-color: #2ba692;
}

.outline-btn {
  color: #ffffff !important;
}

#about-slide {
  display: flex;
  align-items: center;
  margin-top: 8em;
}

.sponsor-logo {
  float: left;
}

ul.dropdown1 {
  background: #2ba692;
  padding: 1.5em;
}
.just {
  text-align: justify;
  text-justify: inter-word;
}


.service-icons{
  position:absolute !important; 
  left: 0px !important;
  top:10px !important;
}
.no-border{
  border: none !important
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  ul.dropdown1 {
    margin: 3em 4em 0 0;
  }
}
 */


/*=========================
	8) testimonial Start
===========================*/

#testimonial{text-align: center;padding-bottom: 110px;padding-top: 10px;}
#testimonial .block{}
.testimonial-area{}
.tm-header{}
.tm-header h2{font-size: 36px;font-family: 'Raleway', sans-serif; font-weight: 700;color:#636C6C; margin: 0px; padding-bottom: 38px}
.tm-contant{}
.tm-contant-items{}
.tm-contant-list{}
.tm-img{}
.tm-img img{border-radius: 500px;margin: 0 auto;width: 100px; height: 100px;}
.tm-text{}
.tm-text p{color:#8C9494; font-family: 'Droid Serif', serif; font-weight:400; font-style: italic; font-size: 24px; line-height: 24px;margin: 0;padding-bottom: 40px;padding-top: 45px;}
.tm-text p span{font-style: normal; display: block; color: #5DCA88;font-family: 'Raleway', sans-serif; font-weight: 400; padding-top: 28px }
#testimonial .owl-carousel .owl-controls{}
#testimonial .owl-carousel .owl-controls .owl-pagination{text-align: center}
#testimonial .owl-carousel .owl-controls .owl-pagination div{background:#8c9494;
border-radius: 500px;
display: inline-block;
height: 11px;
margin: 0 5px;
width: 11px;}
#testimonial .owl-carousel .owl-controls .owl-pagination  div.active{background: #5DCA88}

/*=========================
	 testimonial CLOSE
===========================*/
.item-carousel{
  height:15em !important;
  border:solid 1px #efefef !important;
}

#testimonial{
  background:#ffffff !important;
  
}


.about-us{
  text-align: justify;
  text-justify: inter-word;

}

.gradient {
  background: linear-gradient(90deg, #ffdd00 0%, #fbb034 100%);
}

/* 
* Make the services equal height
*/

.row-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  text-align: justify;
  text-justify: inter-word;
}
.row-service > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row-service p{

    word-spacing: 0px !important;

}