<div class="wrapper">
  <a (click)='goTo("https://www.facebook.com/SolveITbyiCog")' href="https://www.facebook.com/SolveITbyiCog"
    target="_blank">
    <div class="share facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
  </a>
  <a (click)='goTo("https://twitter.com/icogsolveit")' href="https://twitter.com/icogsolveit" target="_blank">
    <div class="share twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </div>
  </a>
  <a (click)='goTo("https://www.instagram.com/icog_solveit/")' href="https://www.instagram.com/icog_solveit/"
    target="_blank">
    <div class="share instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </a>
  <a (click)='goTo("https://telegram.me/iCogSolveit")' href="https://telegram.me/iCogSolveit" target="_blank">
    <div class="share telegram">
      <i class="fa fa-telegram" aria-hidden="true"></i>
    </div>
  </a>
  <a (click)='goTo("https://www.linkedin.com/company/icog-labs")' target="_blank">
    <div class="share linkedin">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </a>



</div>
<!-- Header -->

<header id="home">
  <!-- Background Video -->
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('../../assets/img/solve-IT-2020-landing-page.jpg');">
    <div class="overlay"></div>
  </div>

  <!-- /Background Image -->
  <!-- <div class="leftside">
    <ul class="social-container">
      <li><a href="https://www.facebook.com/SolveITbyiCog/?ref=br_rs"><i class="fa fa-facebook social-icons"></i></a>
      </li>
      <li><i class="fa fa-twitter social-icons"></i></li>
      <li><i class="fa fa-instagram social-icons"></i></li>
      <li><i class="fa fa-telegram social-icons"></i></li>
      <li><i class="fa fa-linkedin social-icons"></i></li>

    </ul>
  </div> -->


  <!-- Nav -->
  <nav id="nav" class="navbar nav-transparent">
    <div class="container">
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a routerLink="">
            <img style="padding: 0.1em; border:solid 2px white" class="logo draw"
              src="../../assets/img/solveit-logo12.png" alt="logo" />
            <button class="draw logo-alt " style="padding: 0.1em;"><img style="padding: 0.1em;" class="logo-alt "
                src="../../assets/img/solveit-logo12.png" alt="logo" /></button>
          </a>

        </div> <!-- /Logo -->

        <!-- Collapse nav button -->
        <div class="navbar-toggler nav-collapse" type="button" data-toggle="collapse" data-target="#menus"
          aria-controls="menus" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color: #FFFFFF;"></span>
        </div>

        <!-- /Collapse nav button -->
      </div>

      <!-- Main navigation -->
      <div class="collapse navbar-collapse" id="menus">
        <ul class="nav navbar-nav navbar-right">
          <li [class.active]="router.isActive('', true)">
            <a routerLink="">Home</a>
          </li>
          <li
            [class.active]="router.isActive('about', false) || router.isActive('our-team', false) || router.isActive('/winners/list', false)"
            class="has-dropdown">
            <a><span style="margin-right: .5em;">About</span>{{ "" }}</a>
            <ul class="dropdown1">
              <!-- <li *ngIf="authService.isSolveitParticipant()">
                    <a routerLink="/my-projects">My Projects</a>
                  </li> -->
              <li><a href="#service">Services</a></li>
              <!-- <li ">
                    <a routerLink="/gallery">Gallery</a>
                  </li> -->
              <li>
                <a routerLink="/team/list">Our Team</a>
              </li>
              <li>
                <a routerLink="/winners/list">Winners</a>
              </li>

            </ul>
            <ul class="dropdown">
              <!-- <li *ngIf="authService.isSolveitParticipant()">
                    <a routerLink="/my-projects">My Projects</a>
                  </li> -->
              <li><a href="#service">Services</a></li>
              <!-- <li ">
                    <a routerLink="/gallery">Gallery</a>
                  </li> -->
              <li>
                <a routerLink="/team/list">Our Team</a>
              </li>
              <li>
                <a routerLink="/winners/list">Winners</a>
              </li>

            </ul>
          </li>


          <li [class.active]="router.isActive('dashboard', false)" *ngIf="
                    authService.isSolveitTeam() ||
                    authService.isSolveitManager() ||
                    authService.isSolveitJudge() ||
                    authService.isSolveitMentor() ||
                    authService.isAdmin() 
                  ">
            <a routerLink="/dashboard">Dashboard</a>
          </li>



          <li [class.active]="router.isActive('events', false)">
            <a routerLink="/events">Events</a>
          </li>
          <li [class.active]="router.isActive('forums', false)">
            <a routerLink="/forums">Forums</a>
          </li>
          <!--
                  <li [class.active]="router.isActive('news', false)">
                    <a routerLink="/news">News</a>
                  </li>
                -->
          <li [class.active]="router.isActive('resources', false)">
            <a routerLink="/resources" *ngIf="authService.isAuthenticated()">Resources</a>
          </li>

          <li [class.active]="router.isActive('sponsors', false)">
            <a routerLink="/sponsors">Sponsors</a>
          </li>

          <li *ngIf="authService.isSolveitParticipant()" [class.active]="router.isActive('my-projects', false)">
            <a routerLink="/my-projects">My Projects</a>
          </li>

          <li [class.active]="router.isActive('help', false)">
            <a routerLink="/help">Help</a>
          </li>
          <li [class.active]="router.isActive('login', false)" *ngIf="!authService.isAuthenticated()">
            <a routerLink="/login">SignIn / SignUp</a>
          </li>
          <li [class.active]="router.isActive('my-projects', false)" *ngIf="authService.isAuthenticated()"
            class="has-dropdown">
            <a><span style="margin-right: .5em;"><i class="fa fa-user"></i></span>{{ "" }}</a>
            <ul class="dropdown1">
              <!-- <li *ngIf="authService.isSolveitParticipant()">
                      <a routerLink="/my-projects">My Projects</a>
                    </li> -->
              <li *ngIf="authService.isSolveitParticipant() || authService.isSolveitTeam()">
                <a [routerLink]="[
                          'dashboard/userProfile',
                          authService.getUserId()
                        ]">Profile</a>
              </li>
              <li>
                <a routerLink="" (click)="authService.signOut()" style="cursor: pointer;">Logout</a>
              </li>
            </ul>
            <ul class="dropdown">
              <li *ngIf="authService.isSolveitParticipant() || authService.isSolveitTeam()">
                <a (click)="getUserProfile()">Profile</a>
              </li>
              <li>
                <a routerLink="" (click)="authService.signOut()" style="cursor: pointer;">Logout</a>
              </li>

            </ul>
          </li>
        </ul>
      </div>
      <!-- /Main navigation -->
    </div>
  </nav>
  <!-- /Nav -->

  <!-- home wrapper -->
  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <!-- home content -->
        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <!-- <h1 class="black-text">We Are Creative Agency</h1> -->
            <!--
                    <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
                  -->
            <!-- </p> -->
            <!-- <button class="white-btn">Be A Part & Compete</button> -->
            <!-- <button class="main-btn">Winner Projects</button> -->
          </div>
        </div>
        <!-- /home content -->
      </div>
    </div>
  </div>
  <div class="big-banner" style="margin-top:20%;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 banner-text text-center">
          <h2>Solve IT 2020 <a routerLink="/register/participant"><u> Register</u></a> now</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /home wrapper -->
</header>

<!-- /Header -->

<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- why choose us content -->
      <div class="col-md-6 about-us">
        <div class="section-header">
          <h2 class="title" style="margin:auto">About Solve IT</h2>
        </div>
        <p>
          iCog Labs incorporated some of it's previous project ideas and
          resources and came up with Solve IT; a nationwide innovation
          competition involving more than 15 cities in Ethiopia. Solve IT
          capitalizes the involvement of regional cities as a crucial factor in
          the creation of a sustainable local tech market. With such spirit,
          Solve IT was proposed to the US Embassy in Addis Ababa in late 2017.
          Now it is implemented with the US Embassy, JICA Ethiopia, and
          Humanity+.
        </p>
        <p>
          This initiative aims to, primarily, decentralize technology and
          include the youth in problem-solving programs. Solve IT is also a
          marketplace where young innovators and investors connect through a
          year long "incupation" (incubation and competition) platform. This
          program sparked and created awareness about the impact of pro-poor
          technologies via direct seminars, media coverage, and target specific
          promotional campaigns while engaging more than 3,000 young innovators.
        </p>
      </div>
      <!-- /why choose us content -->

      <!-- About slider -->
      <div class="col-md-6">
        <div id="about-slider" style="display: flex;
          align-items: center;
          margin: 8em 0 0 1em;
         ;" class="">
          <img class="img-responsive" src="../../assets/img/about.jpg" alt="" />
        </div>
      </div>
      <!-- /About slider -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Why Choose Us -->

<!-- Service -->
<div id="service" class="section">
  <!-- Container -->
  <div class="container">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">What we offer</h2>
    </div>
    <!-- /Section header -->
    <!-- Row -->
    <div class="row-service">
      <!-- service -->

      <div class="service">
        <i class="fa fa-cogs"></i>
        <!-- <img src="../../assets/icons/training.png" width="80px" height="80px" class="service-icons"> -->

        <h3>Trainings</h3>
        <p>
          Hard work pays off. Contestants get extensive soft skill, business and technical trainings in order to
          ameliorate their projects. In addition, they are trained to deliver effective strategic pitch to funders or
          partners.
        </p>

      </div>
      <!-- /service -->

      <!-- service -->

      <div class="service">
        <i class="fa fa-handshake-o"></i>
        <!-- <img src="../../assets/icons/mentorship.png" width="80px" height="80px" class="service-icons"> -->

        <h3>Mentorships</h3>
        <p>
          A unique and highly regarded component of Solve IT is our mentoring service. Each contestant has the
          opportunity to work with a mentor that provides one-on-one, and in-depth guidance throughout the competition
          and follow-up on the growth of their projects.
        </p>
      </div>
      <!-- /service -->

      <!-- service -->

      <div class="service">
        <i class="fa fa-users"></i>
        <!-- <img src="../../assets/icons/incubation.png" width="80px" height="80px" class="service-icons"> -->

        <h3>Exposure</h3>
        <p>
          Get new friends and make new memories. Our competitors get to meet
          people from all over the country, in different fields, each with
          their own dreams.
        </p>
      </div>
      <!-- /service -->

      <!-- service -->

      <div class="service">
        <i class="fa fa-cubes"></i>
        <!-- <img src="../../assets/icons/incubation.png" width="80px" height="80px" class="service-icons"> -->
        <h3>Incubation</h3>
        <p>
          Think Big, Start Small, Scale Fast! To help them create successful startups, contestants are provided with a
          systemized and comprehensive range of support, including expertise assistance, business support services,
          and vast networking opportunities.
        </p>
      </div>
      <!-- /service -->

      <!-- service -->

      <div class="service">
        <i class="fa fa-usd"></i>
        <!-- <img src="../../assets/icons/investor.png" width="80px" height="80px" class="service-icons"> -->

        <h3>Investor connections</h3>
        <p>
          Grow your connections, Our platform enables contestants to meet and present their projects to investors both
          on national and international grounds.
        </p>
      </div>
      <!-- /service -->

      <!-- service -->

      <div class="service">
        <i class="fa fa-bandcamp"></i>
        <!-- <img src="../../assets/icons/bootcamp.png" width="80px" height="80px" class="service-icons"> -->

        <!-- <img src="../../assets/img/icons/bootcamp.png" style="width:40px; height:40px; position:absolute; left:5px"/> -->
        <h3>Boot camp</h3>
        <p>
          Brush ups before the big day! Aside from Intensive trainings, contestants get effective assistance on their
          week spots and work on their projects to make it the best it could possibly be.
        </p>
      </div>
    </div>
    <!-- /service -->
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Service -->

<!-- Testimonial -->
<div id="testimonial" class="section md-padding" *ngIf="!authService.isAuthenticated() && false">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <!-- /Background Image -->
    <div class="row register-now-container">
      <h2 style="text-align: center">Register For Solve IT 2019 Now</h2>
      <a routerLink="/register" class="outline-btn">Register</a>
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Testimonial -->

<!-- Numbers -->
<div id="numbers" class="section sm-padding">
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('../../assets/img/background2.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container" id="count-container">
    <!-- Row -->
    <div class="row">
      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-users"></i>
          <h3 class="white-text"><span class="counter">3734</span></h3>
          <span class="white-text">Participants</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-book"></i>
          <h3 class="white-text"><span class="counter">180</span></h3>
          <span class="white-text">Training Courses</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-trophy"></i>
          <h3 class="white-text"><span class="counter"> 150 </span></h3>
          <span class="white-text">Tech Products</span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-building"></i>
          <h3 class="white-text"><span class="counter">15</span></h3>
          <span class="white-text">Cities</span>
        </div>
      </div>
      <!-- /number -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Numbers -->

<!-- Pricing -->
<app-weekly-winner *ngIf="authService.isAuthenticated()"> </app-weekly-winner>
<!-- Pricing -->

<!-- Team -->
<div id="team" style="width:100%;" class="section md-padding">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Our Team</h2>
      </div>
      <!-- /Section header -->
      <div class="our-team">
        <div *ngFor="let member of solveItTeam ;let i=index;" class="team-member">

          <div class="team" style=" height: 100% !important;width:100% !important;text-align: center;">
            <div class="team-img">
              <img class="img-responsive" [src]="getImageUrl(member.picture)" style="width:210px; height:200px;"
                alt="" />
              <div class="overlay">
                <div class="team-social">
                  <a *ngIf="member.linkedln_link != undefined && member.linkedln_link.length > 5"
                    href="{{member.linkedln_link}}"><i class="fa fa-linkedin"></i></a>
                  <a *ngIf="member.twitter_link != undefined && member.twitter_link.length > 5"
                    href="{{member.twitter_link}}"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-content">
              <h3>{{member.fullName}}</h3>
              <span>{{member.position}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- /team -->

      <!-- team -->
      <div *ngIf="solveItTeam == undefined|| solveItTeam.length <= 1" class="col-sm-3 col-md-push-1">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="../../assets/img/bezawit.jpg" alt="" />
            <div class="overlay">
              <div class="team-social"></div>
            </div>
          </div>
          <div class="team-content">
            <h3>Bezawit Kassaye</h3>
            <span>Project Coordinator</span>
          </div>
        </div>
      </div>
      <!-- /team -->

      <!-- team -->
      <div *ngIf="solveItTeam == undefined|| solveItTeam.length <= 1" class="col-sm-3 col-md-push-1">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="../../assets/img/hruy.jpg" alt="" />
            <div class="overlay">
              <div class="team-social">
                <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                <!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
                <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Hruy Tsegaye</h3>
            <span>Project Adviser</span>
          </div>
        </div>
      </div>

      <!-- team -->
      <div *ngIf="solveItTeam == undefined|| solveItTeam.length <= 1" class="col-sm-3 col-md-push-1">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="../../assets/img/Betelhem%20Dessie.jpg" alt="" />
            <div class="overlay">
              <div class="team-social">
                <a href="https://www.linkedin.com/in/betelhemdessie/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Bethlehem Dessie</h3>
            <span>Project Adviser</span>
          </div>
        </div>
      </div>
      <!-- /team -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<!-- /Team -->
<!-- testimonial Start
              ============================================================= -->

<!---
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block">
                    <div class="section-header" style="text-align: center;">
                            <h2  >What People say About Us</h2>
                    </div>
                <div class="testimonial-area">

                  <div class="tm-contant">
                    <div class="tm-contant-items" id="slide-testimonial">
                      <carousel-component>
                        <div class="item-carousel">
                          <div class="tm-contant-list item">
                            <div class="tm-img">
                              <img src="../../assets/img/Betelhem%20Dessie.jpg" alt="img">
                            </div>
                            <div class="tm-text">
                              <p>" It’s official – I love this competition." <span>- Bethlehem Dessie</span>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="item-carousel">
                            <div class="tm-contant-list item">
                              <div class="tm-img">
                                <img src="../../assets/img/Betelhem%20Dessie.jpg" alt="img">
                              </div>
                              <div class="tm-text">
                                <p>" It’s official – I love this competition." <span>- Bethlehem Dessie</span>
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="item-carousel">
                              <div class="tm-contant-list item">
                                <div class="tm-img">
                                  <img src="../../assets/img/Betelhem%20Dessie.jpg" alt="img">
                                </div>
                                <div class="tm-text">
                                  <p>" It’s official – I love this competition." <span>- Bethlehem Dessie</span>
                                  </p>
                                </div>
                              </div>
                            </div>


                      </carousel-component>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>-->
<!-- Contact -->
<div id="contact" class="section md-padding">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Section-header -->
      <div class="section-header text-center">
        <h2 class="title">Get in touch</h2>
        <p id="be-part" style="font-size:20px; font-weight: 800;"></p>
      </div>
      <!-- /Section-header -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-phone"></i>
          <h3>Phone</h3>
          <p>+251 118 62-5056</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-envelope"></i>
          <h3>Email</h3>
          <p>info@icog-solveit.com</p>
        </div>
      </div>
      <!-- /contact -->

      <!-- contact -->
      <div class="col-sm-4">
        <div class="contact">
          <i class="fa fa-map-marker"></i>
          <h3>Address</h3>
          <p>
            Addis Ababa, Bole, Yeshi Building, 10th Floor, Infront of Bole
            printing
          </p>
        </div>
      </div>
      <!-- /contact -->
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</div>
<div class="app-get-zmall" id="section2" style="font-size: 16px;">
  <h3 class="get-text">
    Get Solve IT on mobile. Head on to the <strong
      (click)="goTo('https://play.google.com/store/apps/details?id=com.icog.solveit')"
      style="cursor: pointer;">Playstore</strong>
  </h3>
  <div>
    <!-- <a href="#" class="social-link">
      <img src="assets/svg/app-store.svg" alt="App Store" id="app_store" height="30" width="30" />
    </a> -->
    <a (click)="goTo('https://play.google.com/store/apps/details?id=com.icog.solveit')" style="cursor: pointer;"
      target="_blank" class="social-link">
      <img src="assets/svg/play-store.svg" alt="Play Store" id="play_store" height="30" width="30" />
    </a>
  </div>
</div>
<!-- /Contact -->

<!-- <app-alumunni-detail></app-alumunni-detail> -->
