<app-header></app-header>
<div class="container" id="project-list-header">
  <div class="events-list-header">
    <div class="header">
      <h4 (click)="toggleView('events-list')" class="title">Events</h4>
      <button type="button" *ngIf="authService.isSolveitManager() || authService.isAdmin()" (click)="toggleView('create-event')" class="btn main-btn btn-circle-xl"><i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<app-event-list *ngIf = "selected == 'events-list'"></app-event-list>
<app-event-create (created)="toggleView('events-list')" *ngIf = "selected == 'create-event'"></app-event-create>
