<app-header></app-header>
<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-md-offset-1 col-md-3">
            <ul class="dashboard-menu">
                <li  *ngIf="this.authService.isAdmin() || this.authService.isSolveitManager()" (click)="toggleView(views[0])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[0]">
                  <span class="icon"><i class="fa fa-users"></i></span> Users
                </li>
                <li (click)="toggleView(views[1])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[1]">
                  <span class="icon"><i class="fa fa-star"></i></span> Competitions
                </li>
                <li (click)="toggleView(views[2])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[2]">
                  <span class="icon"><i class="fa fa-table"></i></span> Categories
                </li>
                <li (click)="toggleView(views[3])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[3]">
                  <span class="icon"><i class="fa fa-tags"></i></span> Tags
                </li>
                <li (click)="toggleView(views[5])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[5]">
                  <span class="icon"><i class="fa fa-building"></i></span> City
                </li>
                <li *ngIf = "isModerator" (click)="toggleView(views[4])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[4]">
                  <span class="icon"><i class="fa fa-eye"></i></span> Review Discussion
                </li>
                <li (click)="toggleView(views[6])" class="dashboard-menu-item" [class.dashboard-menu-item-selected]="selected == views[6]">
                  <span class="icon"><i class="fa fa-external-link"></i></span> Export Data
                </li>
            </ul>
        </div>
        <div class="col-md-8">

            <div class="dashboard-content">
                <app-manage-user *ngIf="selected == views[0]"></app-manage-user>
                <app-competition-view *ngIf="selected == views[1]"></app-competition-view>
                <app-categories-list *ngIf="selected == views[2]"></app-categories-list>
                <app-tag-managment *ngIf="selected == views[3]"></app-tag-managment>
                <app-review-discussion *ngIf="selected == views[4] && isModerator"></app-review-discussion>
                <app-city-list *ngIf="selected == views[5]"></app-city-list>
                <app-export-data *ngIf="selected == views[6]"></app-export-data>
            </div>
        </div>
    </div>
</div>
