.dashboard {
    height: 150vh;
    margin: 4em auto;
}

.dashboard-menu {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 5em;
}

.dashboard-menu-item {
    margin-bottom: 0.5em;
    border-left: 1px solid #2BA692;
    margin-right: 1em;
    padding: 1.5em;
    cursor: pointer;
}

.dashboard-menu-item:hover {
    margin-left: 0.5em;
    border-left: 1px solid #2BA692;
    background: rgba(0, 0, 0, 0.1);
}

.dashboard-menu-item-selected {
    margin-left: 0.5em;
    border-left: 1px solid #2BA692;
    background: #2BA692;
    color: white;
}