.dashboard {
  height: 130vh;
  margin: 4em auto;
}

.dashboard-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 5em;
}

.dashboard-menu-item {
  margin-bottom: 0.5em;
  border-left: 1px solid pink;
  margin-right: 1em;
  padding-left: 0.5em;
  cursor: pointer;
}

.dashboard-menu-item:hover {
  margin-left: 0.5em;
  border-left: 1px solid cyan;
  background: rgba(0, 0, 0, 0.1);
}

.dashboard-menu-item-selected {
  margin-left: 0.5em;
  border-left: 1px solid cyan;
  background: rgba(0, 0, 0, 0.1);
}

