<div class="add-member">
  <div class="row">
      <br>
  </div>
  <div class="row">
        <div id="aside" class="col-md-offset-4 col-md-4">
            <div class="widget">
                <div class="widget-search">
                    <input class="search-input" type="text" placeholder="search" [(ngModel)]="keyword"  (keyup)="searchUser($event)">
                    <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
  <h4 class="title">Users search results</h4>
  <table class="table" *ngIf="users.length > 0">
    <tbody>
    <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: page }">
      <th id="item" scope="row">
        <i id="user-icon" class="fa fa-user-circle"></i> <p>{{ user.email }}</p>
      </th>
      <th>
        <button class="main-btn" (click) = "addMember(user)">Add</button>
      </th>
    </tr>
    </tbody>
  </table>
  <pagination-controls *ngIf = "users.length > 10" (pageChange)="page = $event"></pagination-controls>

  <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">Search Result</h3>-->
      <!--</div>-->
      <!--<div class="panel-body">-->
        <!--<div *ngIf = "users.length > 0" class="list-group">-->
          <!--<a *ngFor = "let user of users | paginate: { itemsPerPage: 10, currentPage: page }" class="list-group-item">-->
            <!--{{ user.email }}-->
            <!--<button type="button" (click) = "addMember(user)" class="btn btn-outline-success">Add</button>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
</div>
