<!-- comment -->
<div class="media" *ngIf="comment">
  <div class="media-left">
    <img class="media-object" id="commenter-avatar" src="../../../assets/img/User_Circle.png" alt="">
  </div>
  <div class="media-body">
    <h6 class="media-heading">{{ comment.user.username }}
      <span class="time">{{ comment.createdAt | amTimeAgo }}</span>
      <a (click)="toggleReplyForm()" class="reply">Replies<i class="fa fa-reply"></i></a>
    </h6>
    <p>{{ comment.content }}</p>
  </div>
  <div class="comment-replies"  *ngIf="isReplyActive">
    <div class="comment-reply" *ngFor="let reply of replies" >
      <div class="media-left">
        <img class="media-object" id="commenter-avatar" src="../../../assets/img/User_Circle.png" alt="">
      </div>
      <div class="media-body">
        <h6 class="media-heading">{{ reply.user.username }}
          <span class="time">{{ reply.createdAt | amTimeAgo }}</span>
        </h6>
        <p>{{ reply.content }}</p>
      </div>
    </div>
    <!-- reply form -->
    <div class="reply-form">
      <h6 class="title" >Leave a reply</h6>
      <form [formGroup]="replyForm" *ngIf="authService.isAuthenticated()">
        <textarea formControlName="content" [(ngModel)]="reply.content"  placeholder="Add Your Reply"></textarea>
        <button type="submit" class="main-btn" (click)="replyToComment()">Reply</button>
      </form>
    </div>
    <!-- /reply form -->
  </div>

</div>
<!-- /comment -->
